{
  "openapi": "3.0.0",
  "info": {
    "title": "Tradier Brokerage API",
    "description": "API for accessing Tradier brokerage services",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tradier.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.tradier.com",
      "description": "Sandbox environment for testing"
    }
  ],
  "paths": {
    "/v1/user/profile": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User Profile",
        "description": "Get the profile information for the current user",
        "operationId": "brokerage-api-user-get-profile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profile": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique ID assigned to the user"
                        },
                        "name": {
                          "type": "string",
                          "description": "The user's full name"
                        },
                        "account": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "account_number": {
                                "type": "string",
                                "description": "The account number"
                              },
                              "classification": {
                                "type": "string",
                                "description": "The account classification (individual, corporate, etc.)",
                                "enum": [
                                  "individual",
                                  "corporate",
                                  "joint",
                                  "ira",
                                  "roth_ira",
                                  "entity"
                                ]
                              },
                              "date_created": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date the account was created"
                              },
                              "day_trader": {
                                "type": "boolean",
                                "description": "Whether the account is marked as a day trader"
                              },
                              "option_level": {
                                "type": "integer",
                                "description": "The option level approval for the account (1-4)"
                              },
                              "status": {
                                "type": "string",
                                "description": "The account status",
                                "enum": [
                                  "active",
                                  "closed"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "description": "The account type",
                                "enum": [
                                  "cash",
                                  "margin"
                                ]
                              },
                              "last_update_date": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date the account was last updated"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "profile": {
                    "id": "id-123456",
                    "name": "John Doe",
                    "account": [
                      {
                        "account_number": "VA000001",
                        "classification": "individual",
                        "date_created": "2015-01-01T15:25:47.000Z",
                        "day_trader": true,
                        "option_level": 4,
                        "status": "active",
                        "type": "margin",
                        "last_update_date": "2015-01-01T15:25:47.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid credentials"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/balances": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Balance",
        "description": "Get the current account balance and margin information.",
        "operationId": "brokerage-api-accounts-get-account-balance",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account",
            "example": "VA000001"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balances": {
                      "type": "object",
                      "properties": {
                        "option_short_value": {
                          "type": "number",
                          "format": "float",
                          "description": "The value of short option positions"
                        },
                        "total_equity": {
                          "type": "number",
                          "format": "float",
                          "description": "The total account value"
                        },
                        "account_number": {
                          "type": "string",
                          "description": "The account number"
                        },
                        "account_type": {
                          "type": "string",
                          "description": "The type of account (margin, cash)",
                          "enum": [
                            "margin",
                            "cash"
                          ]
                        },
                        "close_pl": {
                          "type": "number",
                          "format": "float",
                          "description": "The profit/loss from closed positions"
                        },
                        "current_requirement": {
                          "type": "number",
                          "format": "float",
                          "description": "The current margin requirement"
                        },
                        "equity": {
                          "type": "number",
                          "format": "float",
                          "description": "The equity value"
                        },
                        "long_market_value": {
                          "type": "number",
                          "format": "float",
                          "description": "The value of long positions"
                        },
                        "market_value": {
                          "type": "number",
                          "format": "float",
                          "description": "The total market value"
                        },
                        "open_pl": {
                          "type": "number",
                          "format": "float",
                          "description": "The profit/loss from open positions"
                        },
                        "option_long_value": {
                          "type": "number",
                          "format": "float",
                          "description": "The value of long option positions"
                        },
                        "option_requirement": {
                          "type": "number",
                          "format": "float",
                          "description": "The options margin requirement"
                        },
                        "pending_orders_count": {
                          "type": "integer",
                          "description": "The number of pending orders"
                        },
                        "short_market_value": {
                          "type": "number",
                          "format": "float",
                          "description": "The value of short positions"
                        },
                        "stock_long_value": {
                          "type": "number",
                          "format": "float",
                          "description": "The value of long stock positions"
                        },
                        "total_cash": {
                          "type": "number",
                          "format": "float",
                          "description": "The total cash value"
                        },
                        "uncleared_funds": {
                          "type": "number",
                          "format": "float",
                          "description": "The amount of uncleared funds"
                        },
                        "pending_cash": {
                          "type": "number",
                          "format": "float",
                          "description": "The amount of pending cash"
                        },
                        "margin": {
                          "type": "object",
                          "properties": {
                            "fed_call": {
                              "type": "number",
                              "format": "float",
                              "description": "Federal call amount"
                            },
                            "maintenance_call": {
                              "type": "number",
                              "format": "float",
                              "description": "Maintenance call amount"
                            },
                            "option_buying_power": {
                              "type": "number",
                              "format": "float",
                              "description": "The buying power for options"
                            },
                            "stock_buying_power": {
                              "type": "number",
                              "format": "float",
                              "description": "The buying power for stocks"
                            },
                            "stock_short_value": {
                              "type": "number",
                              "format": "float",
                              "description": "The value of short stock positions"
                            },
                            "sweep": {
                              "type": "number",
                              "format": "float",
                              "description": "Sweep amount"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "balance": {
                    "balances": {
                      "option_short_value": 0,
                      "total_equity": 17798.36,
                      "account_number": "VA00000000",
                      "account_type": "margin",
                      "close_pl": -4813,
                      "current_requirement": 2557,
                      "equity": 0,
                      "long_market_value": 11434.5,
                      "market_value": 11434.5,
                      "open_pl": 546.9,
                      "option_long_value": 8877.5,
                      "option_requirement": 0,
                      "pending_orders_count": 0,
                      "short_market_value": 0,
                      "stock_long_value": 2557,
                      "total_cash": 6363.86,
                      "uncleared_funds": 0,
                      "pending_cash": 0
                    },
                    "margin": {
                      "fed_call": 0,
                      "maintenance_call": 0,
                      "option_buying_power": 6363.86,
                      "stock_buying_power": 12727.72,
                      "stock_short_value": 0,
                      "sweep": 0
                    },
                    "cash": {
                      "cash_available": 4343.38,
                      "sweep": 0,
                      "unsettled_funds": 1310
                    },
                    "pdt": {
                      "fed_call": 0,
                      "maintenance_call": 0,
                      "option_buying_power": 6363.86,
                      "stock_buying_power": 12727.72,
                      "stock_short_value": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid credentials"
          },
          "403": {
            "description": "Access denied to the requested resource"
          },
          "404": {
            "description": "The requested resource was not found"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/historical-balances": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account's Balances Overtime",
        "description": "Get the historical account balances to track value over time",
        "operationId": "brokerage-api-accounts-get-account-historical-balance",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account",
            "example": "VA000001"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WEEK",
                "MONTH",
                "YTD",
                "YEAR",
                "YEAR_3",
                "YEAR_5",
                "ALL"
              ]
            },
            "description": "Type of activities to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Account historical balance information",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "balances": [
                    {
                      "date": "2025-07-15",
                      "value": 113302.4
                    },
                    {
                      "date": "2025-07-16",
                      "value": 114357.75
                    },
                    {
                      "date": "2025-07-17",
                      "value": 115334.62
                    },
                    {
                      "date": "2025-07-18",
                      "value": 114963.65
                    },
                    {
                      "date": "2025-07-21",
                      "value": 116083.06
                    }
                  ],
                  "delta": 2780.66,
                  "deltaPercent": 2.45
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid credentials"
          },
          "403": {
            "description": "Access denied to the requested resource"
          },
          "404": {
            "description": "The requested resource was not found"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/positions": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Positions",
        "description": "Get the current positions being held in an account",
        "operationId": "brokerage-api-accounts-get-account-positions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account",
            "example": "VA000001"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Account positions information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "positions": {
                      "type": "object",
                      "properties": {
                        "position": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "cost_basis": {
                                "type": "number",
                                "format": "float",
                                "description": "The cost basis of the position"
                              },
                              "date_acquired": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date the position was acquired"
                              },
                              "id": {
                                "type": "integer",
                                "description": "The position ID"
                              },
                              "quantity": {
                                "type": "number",
                                "format": "float",
                                "description": "The quantity of the security (negative for short positions)"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "The security symbol"
                              }
                            }
                          },
                          "description": "List of positions held in the account"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "positions": {
                    "position": [
                      {
                        "cost_basis": 7954.16,
                        "date_acquired": "2015-01-01T15:25:47.230Z",
                        "id": 40,
                        "quantity": 37,
                        "symbol": "AAPL"
                      },
                      {
                        "cost_basis": 82.75,
                        "date_acquired": "2014-09-01T15:25:47.230Z",
                        "id": 41,
                        "quantity": -2,
                        "symbol": "NFLX"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid credentials"
          },
          "403": {
            "description": "Access denied to the requested resource"
          },
          "404": {
            "description": "The requested resource was not found"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/history": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account History",
        "description": "Get historical activity for an account",
        "operationId": "brokerage-api-accounts-get-account-history",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account",
            "example": "VA000001"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of events to return"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "trade",
                "option",
                "ach",
                "wire",
                "dividend",
                "fee",
                "tax",
                "journal",
                "check",
                "transfer",
                "adjustment"
              ]
            },
            "description": "Type of activities to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Account history information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "history": {
                      "type": "object",
                      "properties": {
                        "event": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date of the event"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type of event",
                                "enum": [
                                  "trade",
                                  "option",
                                  "ach",
                                  "wire",
                                  "dividend",
                                  "fee",
                                  "tax",
                                  "journal",
                                  "check",
                                  "transfer",
                                  "adjustment"
                                ]
                              },
                              "symbol": {
                                "type": "string",
                                "description": "The security symbol (for applicable event types)"
                              },
                              "quantity": {
                                "type": "number",
                                "format": "float",
                                "description": "The quantity involved in the event (for applicable event types)"
                              },
                              "price": {
                                "type": "number",
                                "format": "float",
                                "description": "The price per share/contract (for applicable event types)"
                              },
                              "amount": {
                                "type": "number",
                                "format": "float",
                                "description": "The total amount of the event"
                              },
                              "description": {
                                "type": "string",
                                "description": "Description of the event"
                              },
                              "commission": {
                                "type": "number",
                                "format": "float",
                                "description": "Commission charged for the event (for applicable event types)"
                              }
                            }
                          },
                          "description": "List of historical events"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "total_pages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        },
                        "total_events": {
                          "type": "integer",
                          "description": "Total number of events"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "history": {
                    "event": [
                      {
                        "date": "2015-04-01T15:25:47.000Z",
                        "type": "trade",
                        "symbol": "AAPL",
                        "quantity": 10,
                        "price": 124,
                        "amount": 1240,
                        "description": "Bought 10 AAPL @ 124.00",
                        "commission": 0
                      }
                    ],
                    "page": 1,
                    "total_pages": 2,
                    "total_events": 27
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid credentials"
          },
          "403": {
            "description": "Access denied to the requested resource"
          },
          "404": {
            "description": "The requested resource was not found"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/gainloss": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Gain/Loss",
        "description": "Get cost basis and gain/loss information for an account. This includes information for all closed positions. Cost basis information is updated through a nightly batch reconciliation process with our clearing firm",
        "operationId": "brokerage-api-accounts-get-account-gainloss",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account",
            "example": "VA000001"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Set a max number of number of positions to return"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "closedate",
                "opendate",
                "symbol",
                "gainloss"
              ],
              "default": "closedate"
            },
            "description": "Sort the results by specified field"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction (ascending/descending)"
          }
        ],
        "responses": {
          "200": {
            "description": "Account gain/loss information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gainloss": {
                      "type": "object",
                      "properties": {
                        "closed_position": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "close_date": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date the position was closed"
                              },
                              "cost": {
                                "type": "number",
                                "format": "float",
                                "description": "The cost basis of the position"
                              },
                              "gain_loss": {
                                "type": "number",
                                "format": "float",
                                "description": "The gain or loss amount"
                              },
                              "gain_loss_percent": {
                                "type": "number",
                                "format": "float",
                                "description": "The gain or loss percentage"
                              },
                              "open_date": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date the position was opened"
                              },
                              "proceeds": {
                                "type": "number",
                                "format": "float",
                                "description": "The proceeds from the closed position"
                              },
                              "quantity": {
                                "type": "number",
                                "format": "float",
                                "description": "The quantity of the security"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "The security symbol"
                              },
                              "term": {
                                "type": "integer",
                                "description": "The holding period in days"
                              }
                            }
                          },
                          "description": "List of closed positions"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "total_pages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        },
                        "total_positions": {
                          "type": "integer",
                          "description": "Total number of positions"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "gainloss": {
                    "closed_position": [
                      {
                        "close_date": "2015-03-01T15:25:47.000Z",
                        "cost": 1450,
                        "gain_loss": 36.5,
                        "gain_loss_percent": 2.51,
                        "open_date": "2015-02-01T15:25:47.000Z",
                        "proceeds": 1486.5,
                        "quantity": 10,
                        "symbol": "AAPL",
                        "term": 28
                      }
                    ],
                    "page": 1,
                    "total_pages": 2,
                    "total_positions": 27
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid credentials"
          },
          "403": {
            "description": "Access denied to the requested resource"
          },
          "404": {
            "description": "The requested resource was not found"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Orders",
        "description": "Get all orders for an account. A single order will be returned as an obj/dict whereas multiple orders will be returned as an array/list.",
        "operationId": "brokerage-api-accounts-get-account-orders",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account",
            "example": "VA000001"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination which is only useful for very large numbers of order broken into pages for faster retrieval"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of orders to return, 15 is defualt but you can set a high number such as 500 to retrieve all your orders in one call"
          },
          {
            "name": "includeTags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include user-defined tags in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Account orders information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "object",
                      "properties": {
                        "order": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "The order ID"
                              },
                              "type": {
                                "type": "string",
                                "description": "The order type",
                                "enum": [
                                  "market",
                                  "limit",
                                  "stop",
                                  "stop_limit",
                                  "debit",
                                  "credit",
                                  "even"
                                ]
                              },
                              "symbol": {
                                "type": "string",
                                "description": "The security symbol"
                              },
                              "side": {
                                "type": "string",
                                "description": "The side of the order",
                                "enum": [
                                  "buy",
                                  "buy_to_cover",
                                  "sell",
                                  "sell_short",
                                  "buy_to_open",
                                  "buy_to_close",
                                  "sell_to_open",
                                  "sell_to_close"
                                ]
                              },
                              "quantity": {
                                "type": "number",
                                "format": "float",
                                "description": "The order quantity"
                              },
                              "status": {
                                "type": "string",
                                "description": "The order status",
                                "enum": [
                                  "pending",
                                  "open",
                                  "partially_filled",
                                  "filled",
                                  "expired",
                                  "canceled",
                                  "rejected",
                                  "pending_cancel"
                                ]
                              },
                              "duration": {
                                "type": "string",
                                "description": "The order duration",
                                "enum": [
                                  "day",
                                  "gtc",
                                  "pre",
                                  "post"
                                ]
                              },
                              "avg_fill_price": {
                                "type": "number",
                                "format": "float",
                                "description": "The average fill price"
                              },
                              "exec_quantity": {
                                "type": "number",
                                "format": "float",
                                "description": "The executed quantity"
                              },
                              "create_date": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date the order was created"
                              },
                              "transaction_date": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date of the last transaction"
                              },
                              "class": {
                                "type": "string",
                                "description": "The security class",
                                "enum": [
                                  "equity",
                                  "option",
                                  "multileg",
                                  "combo"
                                ]
                              }
                            }
                          },
                          "description": "List of orders"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "total_pages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        },
                        "total_orders": {
                          "type": "integer",
                          "description": "Total number of orders"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "orders": {
                    "order": [
                      {
                        "id": 123456,
                        "type": "market",
                        "symbol": "AAPL",
                        "side": "buy",
                        "quantity": 10,
                        "status": "filled",
                        "duration": "day",
                        "avg_fill_price": 128.25,
                        "exec_quantity": 10,
                        "create_date": "2015-04-01T15:25:47.000Z",
                        "transaction_date": "2015-04-01T15:25:47.000Z",
                        "class": "equity"
                      },
                      {
                        "id": 228749,
                        "type": "market",
                        "symbol": "SPY",
                        "side": "buy_to_open",
                        "quantity": 1,
                        "status": "expired",
                        "duration": "pre",
                        "avg_fill_price": 0,
                        "exec_quantity": 0,
                        "last_fill_price": 0,
                        "last_fill_quantity": 0,
                        "remaining_quantity": 0,
                        "create_date": "2018-06-06T20:16:17.342Z",
                        "transaction_date": "2018-06-06T20:16:17.357Z",
                        "class": "option",
                        "option_symbol": "SPY180720C00274000"
                      },
                      {
                        "id": 229063,
                        "type": "debit",
                        "symbol": "SPY",
                        "side": "buy",
                        "quantity": 1,
                        "status": "canceled",
                        "duration": "pre",
                        "price": 42,
                        "avg_fill_price": 0,
                        "exec_quantity": 0,
                        "last_fill_price": 0,
                        "last_fill_quantity": 0,
                        "remaining_quantity": 0,
                        "create_date": "2018-06-12T21:13:36.076Z",
                        "transaction_date": "2018-06-12T21:18:41.604Z",
                        "class": "combo",
                        "num_legs": 2,
                        "strategy": "covered call",
                        "leg": [
                          {
                            "id": 229064,
                            "type": "debit",
                            "symbol": "SPY",
                            "side": "buy",
                            "quantity": 100,
                            "status": "canceled",
                            "duration": "pre",
                            "price": 42,
                            "avg_fill_price": 0,
                            "exec_quantity": 0,
                            "last_fill_price": 0,
                            "last_fill_quantity": 0,
                            "remaining_quantity": 0,
                            "create_date": "2018-06-12T21:13:36.076Z",
                            "transaction_date": "2018-06-12T21:18:41.587Z",
                            "class": "equity"
                          },
                          {
                            "id": 229065,
                            "type": "debit",
                            "symbol": "SPY",
                            "side": "sell_to_close",
                            "quantity": 1,
                            "status": "canceled",
                            "duration": "pre",
                            "price": 42,
                            "avg_fill_price": 0,
                            "exec_quantity": 0,
                            "last_fill_price": 0,
                            "last_fill_quantity": 0,
                            "remaining_quantity": 0,
                            "create_date": "2018-06-12T21:13:36.076Z",
                            "transaction_date": "2018-06-12T21:18:41.597Z",
                            "class": "option",
                            "option_symbol": "SPY180720C00274000"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid credentials"
          },
          "403": {
            "description": "Access denied to the requested resource"
          },
          "404": {
            "description": "The requested resource was not found"
          }
        }
      },
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Place Order",
        "description": "Place a trading order. Supports equity, option, fractional, multileg, combo, OTO, OCO, and OTOCO order types.",
        "operationId": "brokerage-api-trading-place-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account",
            "example": "VA000001"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/x-www-form-urlencoded"
              ]
            },
            "description": "Request content type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "class",
                          "symbol",
                          "option_symbol",
                          "quantity",
                          "type",
                          "duration"
                        ],
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "description": "The security symbol"
                          },
                          "quantity": {
                            "type": "number",
                            "format": "string",
                            "description": "The order quantity"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "market",
                              "limit",
                              "stop",
                              "stop_limit"
                            ],
                            "description": "The type of order to be placed. One of: market, limit, stop, stop_limit"
                          },
                          "duration": {
                            "type": "string",
                            "enum": [
                              "day",
                              "gtc",
                              "pre",
                              "post"
                            ],
                            "description": "The order duration"
                          },
                          "price": {
                            "type": "number",
                            "format": "string",
                            "description": "The limit price (required for limit and stop_limit orders)"
                          },
                          "stop": {
                            "type": "number",
                            "format": "string",
                            "description": "The stop price (required for stop and stop_limit orders)"
                          },
                          "tag": {
                            "type": "string",
                            "description": "User-defined tag for the order"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "class"
                        ],
                        "properties": {
                          "class": {
                            "type": "string",
                            "enum": [
                              "equity"
                            ],
                            "description": "Order class identifier"
                          },
                          "side": {
                            "type": "string",
                            "enum": [
                              "buy",
                              "sell",
                              "sell_short",
                              "buy_to_cover"
                            ],
                            "description": "The side of the order. One of: buy, sell, sell_short, buy_to_cover"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "class",
                          "symbol",
                          "option_symbol",
                          "quantity",
                          "type",
                          "duration"
                        ],
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "description": "The security symbol"
                          },
                          "quantity": {
                            "type": "number",
                            "format": "string",
                            "description": "The order quantity"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "market",
                              "limit",
                              "stop",
                              "stop_limit"
                            ],
                            "description": "The type of order to be placed. One of: market, limit, stop, stop_limit"
                          },
                          "duration": {
                            "type": "string",
                            "enum": [
                              "day",
                              "gtc",
                              "pre",
                              "post"
                            ],
                            "description": "The order duration"
                          },
                          "price": {
                            "type": "number",
                            "format": "string",
                            "description": "The limit price (required for limit and stop_limit orders)"
                          },
                          "stop": {
                            "type": "number",
                            "format": "string",
                            "description": "The stop price (required for stop and stop_limit orders)"
                          },
                          "tag": {
                            "type": "string",
                            "description": "User-defined tag for the order"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "class",
                          "option_symbol"
                        ],
                        "properties": {
                          "class": {
                            "type": "string",
                            "enum": [
                              "option"
                            ],
                            "description": "Order class identifier"
                          },
                          "option_symbol": {
                            "type": "string",
                            "description": "The OCC option symbol"
                          },
                          "side": {
                            "type": "string",
                            "enum": [
                              "buy_to_open",
                              "sell_to_open",
                              "sell_to_close",
                              "buy_to_close"
                            ],
                            "description": "The side of the order. One of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                          }
                        }
                      }
                    ]
                  },
                  {
                    "type": "object",
                    "required": [
                      "class",
                      "symbol",
                      "type",
                      "duration"
                    ],
                    "properties": {
                      "class": {
                        "type": "string",
                        "enum": [
                          "multileg"
                        ],
                        "description": "Order class identifier"
                      },
                      "symbol": {
                        "type": "string",
                        "description": "The underlying security symbol of the options"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "market",
                          "debit",
                          "credit",
                          "even"
                        ],
                        "description": "The type of order to be placed. One of: market, debit, credit, even"
                      },
                      "duration": {
                        "type": "string",
                        "enum": [
                          "day",
                          "gtc",
                          "pre",
                          "post"
                        ],
                        "description": "The order duration"
                      },
                      "price": {
                        "type": "number",
                        "format": "string",
                        "description": "The limit price (required for debit and credit orders)"
                      },
                      "option_symbol[0]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "side[0]": {
                        "type": "string",
                        "enum": [
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the option leg. One of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "quantity[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "option_symbol[1]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "side[1]": {
                        "type": "string",
                        "enum": [
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the option leg. One of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "quantity[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "option_symbol[2]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "side[2]": {
                        "type": "string",
                        "enum": [
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the option leg. One of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "quantity[2]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "option_symbol[3]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "side[3]": {
                        "type": "string",
                        "enum": [
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the option leg. One of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "quantity[3]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "tag": {
                        "type": "string",
                        "description": "User-defined tag for the order"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "class",
                      "symbol",
                      "type",
                      "duration",
                      "side[0]",
                      "quantity[0]",
                      "option_symbol[1]",
                      "side[1]",
                      "quantity[1]"
                    ],
                    "properties": {
                      "class": {
                        "type": "string",
                        "enum": [
                          "combo"
                        ],
                        "description": "Order class identifier"
                      },
                      "symbol": {
                        "type": "string",
                        "description": "The underlying security symbol"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "market",
                          "debit",
                          "credit",
                          "even"
                        ],
                        "description": "The order type"
                      },
                      "duration": {
                        "type": "string",
                        "enum": [
                          "day",
                          "gtc",
                          "pre",
                          "post"
                        ],
                        "description": "The order duration"
                      },
                      "price": {
                        "type": "number",
                        "format": "string",
                        "description": "The limit price (required for debit and credit orders)"
                      },
                      "side[0]": {
                        "type": "string",
                        "enum": [
                          "buy",
                          "buy_to_cover",
                          "sell",
                          "sell_short"
                        ],
                        "description": "The side of the equity leg. One of: buy, buy_to_cover, sell, sell_short"
                      },
                      "quantity[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "The quantity of shares for the equity leg"
                      },
                      "option_symbol[1]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "side[1]": {
                        "type": "string",
                        "enum": [
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the option leg. One of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "quantity[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "option_symbol[2]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "side[2]": {
                        "type": "string",
                        "enum": [
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the option leg. One of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "quantity[2]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "tag": {
                        "type": "string",
                        "description": "User-defined tag for the order"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "class",
                      "duration",
                      "symbol[0]",
                      "quantity[0]",
                      "type[0]",
                      "side[0]",
                      "symbol[1]",
                      "quantity[1]",
                      "type[1]",
                      "side[1]"
                    ],
                    "properties": {
                      "class": {
                        "type": "string",
                        "enum": [
                          "oto"
                        ],
                        "description": "Order class identifier"
                      },
                      "duration": {
                        "type": "string",
                        "enum": [
                          "day",
                          "gtc",
                          "pre",
                          "post"
                        ],
                        "description": "Time the order will remain active. One of: day, gtc, pre, post. For different durations per leg, duration can be specified as 0 indexed positions, ie duration[0]=day&duration[1]=gtc"
                      },
                      "symbol[0]": {
                        "type": "string",
                        "description": "The underlying security symbol"
                      },
                      "quantity[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "type[0]": {
                        "type": "string",
                        "enum": [
                          "limit",
                          "stop",
                          "stop_limit"
                        ],
                        "description": "The type of order to be placed. First order, one of: limit, stop, stop_limit"
                      },
                      "option_symbol[0]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "side[0]": {
                        "type": "string",
                        "enum": [
                          "buy",
                          "buy_to_cover",
                          "sell",
                          "sell_short",
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the leg. Equity orders, one of: buy, buy_to_cover, sell, sell_short Option orders, one of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "price[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "Limit price. Required only for limit, stop_limit, debit and credit orders."
                      },
                      "stop[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "Stop price. Required only for stop and stop_limit orders."
                      },
                      "symbol[1]": {
                        "type": "string",
                        "description": "The underlying security symbol"
                      },
                      "quantity[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "type[1]": {
                        "type": "string",
                        "enum": [
                          "market",
                          "limit",
                          "stop",
                          "stop_limit"
                        ],
                        "description": "The type of order to be placed. Second order, one of: market,limit, stop, stop_limit"
                      },
                      "option_symbol[1]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "side[1]": {
                        "type": "string",
                        "enum": [
                          "buy",
                          "buy_to_cover",
                          "sell",
                          "sell_short",
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the leg. Equity orders, one of: buy, buy_to_cover, sell, sell_short Option orders, one of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "price[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "Limit price. Required only for limit, stop_limit, debit and credit orders."
                      },
                      "stop[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "Stop price. Required only for stop and stop_limit orders."
                      },
                      "tag": {
                        "type": "string",
                        "description": "User-defined tag for the order"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "class",
                      "duration",
                      "symbol[0]",
                      "quantity[0]",
                      "type[0]",
                      "side[0]",
                      "symbol[1]",
                      "quantity[1]",
                      "type[1]",
                      "side[1]"
                    ],
                    "properties": {
                      "class": {
                        "type": "string",
                        "enum": [
                          "oco"
                        ],
                        "description": "Order class identifier"
                      },
                      "duration": {
                        "type": "string",
                        "enum": [
                          "day",
                          "gtc",
                          "pre",
                          "post"
                        ],
                        "description": "Time the order will remain active. One of: day, gtc, pre, post."
                      },
                      "symbol[0]": {
                        "type": "string",
                        "description": "The underlying security symbol"
                      },
                      "quantity[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "type[0]": {
                        "type": "string",
                        "enum": [
                          "limit",
                          "stop",
                          "stop_limit"
                        ],
                        "description": "The type of order to be placed. First order, one of: limit, stop, stop_limit"
                      },
                      "option_symbol[0]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "side[0]": {
                        "type": "string",
                        "enum": [
                          "buy",
                          "buy_to_cover",
                          "sell",
                          "sell_short",
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the leg. Equity orders, one of: buy, buy_to_cover, sell, sell_short Option orders, one of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "price[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "Limit price. Required only for limit, stop_limit, debit and credit orders."
                      },
                      "stop[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "Stop price. Required only for stop and stop_limit orders."
                      },
                      "symbol[1]": {
                        "type": "string",
                        "description": "The underlying security symbol"
                      },
                      "quantity[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "type[1]": {
                        "type": "string",
                        "enum": [
                          "limit",
                          "stop",
                          "stop_limit"
                        ],
                        "description": "The type of order to be placed. Second order, one of: limit, stop, stop_limit"
                      },
                      "option_symbol[1]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "side[1]": {
                        "type": "string",
                        "enum": [
                          "buy",
                          "buy_to_cover",
                          "sell",
                          "sell_short",
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the leg. Equity orders, one of: buy, buy_to_cover, sell, sell_short Option orders, one of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "price[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "Limit price. Required only for limit, stop_limit, debit and credit orders."
                      },
                      "stop[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "Stop price. Required only for stop and stop_limit orders."
                      },
                      "tag": {
                        "type": "string",
                        "description": "User-defined tag for the order"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "class",
                      "quantity[0]",
                      "type[0]",
                      "side[0]",
                      "quantity[1]",
                      "type[1]",
                      "side[1]",
                      "quantity[2]",
                      "type[2]",
                      "side[2]"
                    ],
                    "properties": {
                      "class": {
                        "type": "string",
                        "enum": [
                          "otoco"
                        ],
                        "description": "Order class identifier"
                      },
                      "duration": {
                        "type": "string",
                        "enum": [
                          "day",
                          "gtc",
                          "pre",
                          "post"
                        ],
                        "description": "Time the order will remain active. One of: day, gtc, pre, post. Alternatively, it can also be sent per leg (duration[index]) as long as the main duration is omitted."
                      },
                      "symbol[0]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "The underlying security symbol, use for equities legs"
                      },
                      "quantity[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "type[0]": {
                        "type": "string",
                        "enum": [
                          "limit",
                          "stop",
                          "stop_limit"
                        ],
                        "description": "The type of order to be placed. First order, one of: limit, stop, stop_limit"
                      },
                      "option_symbol[0]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option, use for option legs"
                      },
                      "side[0]": {
                        "type": "string",
                        "enum": [
                          "buy",
                          "buy_to_cover",
                          "sell",
                          "sell_short",
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the leg. Equity orders, one of: buy, buy_to_cover, sell, sell_short Option orders, one of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "price[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "Limit price. Required only for limit, stop_limit, debit and credit orders."
                      },
                      "stop[0]": {
                        "type": "number",
                        "format": "string",
                        "description": "Stop price. Required only for stop and stop_limit orders."
                      },
                      "symbol[1]": {
                        "type": "string",
                        "description": "The underlying security symbol, use for equities legs"
                      },
                      "option_symbol[1]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option"
                      },
                      "quantity[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "type[1]": {
                        "type": "string",
                        "enum": [
                          "limit",
                          "stop",
                          "stop_limit"
                        ],
                        "description": "The type of order to be placed. Second order, one of: limit, stop, stop_limit"
                      },
                      "side[1]": {
                        "type": "string",
                        "enum": [
                          "buy",
                          "buy_to_cover",
                          "sell",
                          "sell_short",
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the leg. Equity orders, one of: buy, buy_to_cover, sell, sell_short Option orders, one of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "price[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "Limit price. Required only for limit, stop_limit, debit and credit orders."
                      },
                      "stop[1]": {
                        "type": "number",
                        "format": "string",
                        "description": "Stop price. Required only for stop and stop_limit orders."
                      },
                      "symbol[2]": {
                        "type": "string",
                        "description": "The underlying security symbol, use for equities legs"
                      },
                      "option_symbol[2]": {
                        "type": "string",
                        "items": {
                          "type": "string"
                        },
                        "description": "OCC option symbol of the option, use for option legs"
                      },
                      "quantity[2]": {
                        "type": "number",
                        "format": "string",
                        "description": "The number of contracts for the option leg"
                      },
                      "type[2]": {
                        "type": "string",
                        "enum": [
                          "limit",
                          "stop",
                          "stop_limit"
                        ],
                        "description": "The type of order to be placed. Second order, one of: limit, stop, stop_limit"
                      },
                      "side[2]": {
                        "type": "string",
                        "enum": [
                          "buy",
                          "buy_to_cover",
                          "sell",
                          "sell_short",
                          "buy_to_open",
                          "buy_to_close",
                          "sell_to_open",
                          "sell_to_close"
                        ],
                        "description": "The side of the leg. Equity orders, one of: buy, buy_to_cover, sell, sell_short Option orders, one of: buy_to_open, buy_to_close, sell_to_open, sell_to_close"
                      },
                      "price[2]": {
                        "type": "number",
                        "format": "string",
                        "description": "Limit price. Required only for limit, stop_limit, debit and credit orders."
                      },
                      "stop[2]": {
                        "type": "number",
                        "format": "string",
                        "description": "Stop price. Required only for stop and stop_limit orders."
                      },
                      "tag": {
                        "type": "string",
                        "description": "User-defined tag for the order"
                      }
                    }
                  }
                ],
                "discriminator": {
                  "propertyName": "class",
                  "mapping": {
                    "equity": "#/components/schemas/EquityOrderRequest",
                    "option": "#/components/schemas/OptionOrderRequest",
                    "multileg": "#/components/schemas/MultilegOrderRequest",
                    "combo": "#/components/schemas/ComboOrderRequest",
                    "oto": "#/components/schemas/OTOOrderRequest",
                    "oco": "#/components/schemas/OCOOrderRequest",
                    "otoco": "#/components/schemas/OTOCOOrderRequest"
                  }
                }
              },
              "examples": {
                "equityOrder": {
                  "summary": "Equity Order",
                  "value": {
                    "class": "equity",
                    "symbol": "AAPL",
                    "side": "buy",
                    "quantity": 10,
                    "type": "market",
                    "duration": "day"
                  }
                },
                "optionOrder": {
                  "summary": "Option Order",
                  "value": {
                    "class": "option",
                    "symbol": "AAPL",
                    "option_symbol": "AAPL210416C00125000",
                    "side": "buy_to_open",
                    "quantity": 1,
                    "type": "limit",
                    "duration": "day",
                    "price": 3.5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order response information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "The order ID"
                            },
                            "type": {
                              "type": "string",
                              "description": "The order type",
                              "enum": [
                                "market",
                                "limit",
                                "stop",
                                "stop_limit",
                                "debit",
                                "credit",
                                "even"
                              ]
                            },
                            "symbol": {
                              "type": "string",
                              "description": "The security symbol"
                            },
                            "side": {
                              "type": "string",
                              "description": "The side of the order",
                              "enum": [
                                "buy",
                                "buy_to_cover",
                                "sell",
                                "sell_short",
                                "buy_to_open",
                                "buy_to_close",
                                "sell_to_open",
                                "sell_to_close"
                              ]
                            },
                            "quantity": {
                              "type": "number",
                              "format": "float",
                              "description": "The order quantity"
                            },
                            "status": {
                              "type": "string",
                              "description": "The order status",
                              "enum": [
                                "pending",
                                "open",
                                "partially_filled",
                                "filled",
                                "expired",
                                "canceled",
                                "rejected",
                                "pending_cancel"
                              ]
                            },
                            "duration": {
                              "type": "string",
                              "description": "The order duration",
                              "enum": [
                                "day",
                                "gtc",
                                "pre",
                                "post"
                              ]
                            },
                            "avg_fill_price": {
                              "type": "number",
                              "format": "float",
                              "description": "The average fill price"
                            },
                            "exec_quantity": {
                              "type": "number",
                              "format": "float",
                              "description": "The executed quantity"
                            },
                            "create_date": {
                              "type": "string",
                              "format": "date-time",
                              "description": "The date the order was created"
                            },
                            "transaction_date": {
                              "type": "string",
                              "format": "date-time",
                              "description": "The date of the last transaction"
                            },
                            "class": {
                              "type": "string",
                              "description": "The security class",
                              "enum": [
                                "equity",
                                "option",
                                "multileg",
                                "combo"
                              ]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "last_fill_price": {
                              "type": "number",
                              "format": "float",
                              "description": "The price of the last fill"
                            },
                            "last_fill_quantity": {
                              "type": "number",
                              "format": "float",
                              "description": "The quantity of the last fill"
                            },
                            "remaining_quantity": {
                              "type": "number",
                              "format": "float",
                              "description": "The quantity remaining to be filled"
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "order": {
                    "id": 123456,
                    "status": "ok",
                    "partner_id": "partner_12345"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters or body"
          },
          "401": {
            "description": "Authentication required or invalid credentials"
          },
          "403": {
            "description": "Access denied to the requested resource"
          },
          "404": {
            "description": "The requested resource was not found"
          }
        }
      }
    },
    "/v1/accounts/{account_id}/orders/{order_id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account Order",
        "description": "Get a specific order by ID",
        "operationId": "brokerage-api-get-account-order",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the account",
            "example": "VA000001"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the order",
            "example": 123456
          },
          {
            "name": "includeTags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include user-defined tags in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Account order information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "The order ID"
                            },
                            "type": {
                              "type": "string",
                              "description": "The order type",
                              "enum": [
                                "market",
                                "limit",
                                "stop",
                                "stop_limit",
                                "debit",
                                "credit",
                                "even"
                              ]
                            },
                            "symbol": {
                              "type": "string",
                              "description": "The security symbol"
                            },
                            "side": {
                              "type": "string",
                              "description": "The side of the order",
                              "enum": [
                                "buy",
                                "buy_to_cover",
                                "sell",
                                "sell_short",
                                "buy_to_open",
                                "buy_to_close",
                                "sell_to_open",
                                "sell_to_close"
                              ]
                            },
                            "quantity": {
                              "type": "number",
                              "format": "float",
                              "description": "The order quantity"
                            },
                            "status": {
[...]
